body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  margin: 1rem;
}
h3 {
 /* margin-top:3rem; */
 padding : 1rem; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.category-card {
  display: flex;
  height: 45vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.category-card:not(:first-child) {
  margin-left: -50px;
}

.category-card:hover {
  transform: translateY(-40px);
  transition: 0.4s ease-out;
}

.category-card:hover~.category-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

@media (max-width:800px) {
  .category-card {
      display: flex;
      height: 50vh;
      width: 100%;

      border-radius: 10px;
      box-shadow: -1rem 0 3rem #000;
      /*   margin-left: -50px; */
      transition: 0.4s ease-out;
      position: relative;
  }
  .category-card:not(:first-child) {
      margin-top: -200px;
      margin-left: 0px;
  }
  .category-card:hover~.category-card {
      position: relative;
      left: 0px;
      /* top: -120px; */
      transition: 0.4s ease-out;
  }

  .category-card:hover 
  {
      transform: translateY(-100px);
      transition: 0.4s ease-out;
  
  }
  }
